<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logFormatVersion</key>
	<integer>10</integer>
	<key>logs</key>
	<dict>
		<key>048D3785-8A3B-4D30-8BE1-A595CD1480A6</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>7DE582A4-F1E7-427D-ADB6-08473F4FDFFC</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-20-23-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590581223.53368998</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>048D3785-8A3B-4D30-8BE1-A595CD1480A6</string>
		</dict>
		<key>1DEDC8A2-1DAD-42E1-88CB-36FBF8C4F60E</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>A8972780-0265-4FE5-8FB0-D8C139F78600</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-56-01-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590583361.10496795</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>1DEDC8A2-1DAD-42E1-88CB-36FBF8C4F60E</string>
		</dict>
		<key>25CAA6A6-AF7A-441C-A960-5898B3D21B07</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>CB62C632-55B7-4708-887A-2F787F05EE5F</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-42-03-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590582523.04234004</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>25CAA6A6-AF7A-441C-A960-5898B3D21B07</string>
		</dict>
		<key>26704664-75CA-4840-ADB7-72AC8C1742E4</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>7ADF3890-58F4-4890-9DD0-3A20FDB128C4</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-10-14-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>E</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590580614.31402302</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>26704664-75CA-4840-ADB7-72AC8C1742E4</string>
		</dict>
		<key>3619A9D0-8B86-401C-BBFC-14DD653B1239</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>A99925F0-687C-47D7-9834-D60042FD8687</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-43-04-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590582584.19442105</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>3619A9D0-8B86-401C-BBFC-14DD653B1239</string>
		</dict>
		<key>382E255F-2525-425E-A3FB-AC935D1D9D88</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>112E0586-9FB9-434F-ADE1-31883E62FD65</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-20-32-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590581232.89584196</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>382E255F-2525-425E-A3FB-AC935D1D9D88</string>
		</dict>
		<key>3B56125B-2F4D-4D46-BB46-4CCF431C9AA9</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>DAE4697E-87E4-4B3A-95B0-1BF7A535258B</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_19-06-36-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>hasCoverageData</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590583996.48821402</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>3B56125B-2F4D-4D46-BB46-4CCF431C9AA9</string>
		</dict>
		<key>418FF1F4-6819-4791-BC3B-3BA09918F486</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>47436F6F-E020-42FA-AA73-8AA74816E92B</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-10-45-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590580645.49683797</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>418FF1F4-6819-4791-BC3B-3BA09918F486</string>
		</dict>
		<key>852EA239-508B-4A91-B318-03CCE89FC9B6</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>EA434BFB-D691-4AC4-A9AA-2FBA7E6CE374</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-03-30-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590580210.11352503</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>852EA239-508B-4A91-B318-03CCE89FC9B6</string>
		</dict>
		<key>8CBA6E24-269D-4C7D-9BEB-BDCF09E3565E</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>6854E7E4-235C-45EA-AE94-22CBD5FF0764</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-52-01-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590583121.72212005</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>8CBA6E24-269D-4C7D-9BEB-BDCF09E3565E</string>
		</dict>
		<key>B4DA9A6A-F7EA-4D85-BC1A-8D7994E3A8C8</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>736C7814-FFF6-4B4B-9F49-43D3A7B58078</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-42-51-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>T</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590582571.66582406</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>B4DA9A6A-F7EA-4D85-BC1A-8D7994E3A8C8</string>
		</dict>
		<key>BAC63492-4C07-4C9A-BF59-24A0076B7C9E</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>A5D93859-719B-4E71-8DAB-5C8985463B9B</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-44-18-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590582658.98699498</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>BAC63492-4C07-4C9A-BF59-24A0076B7C9E</string>
		</dict>
		<key>C4BB644F-6BE8-47AC-B07A-A0AB934D8930</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>AC7F8D41-BB65-486C-A2D3-99150DDCD370</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>E</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-50-52-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>E</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590583052.37613404</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>C4BB644F-6BE8-47AC-B07A-A0AB934D8930</string>
		</dict>
		<key>C6B3D2F0-7BA3-4DE5-8D3E-88C88A4E2DC4</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>6D980469-AA20-4DE0-AA34-C6647C49D38C</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-41-38-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590582498.93435001</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>C6B3D2F0-7BA3-4DE5-8D3E-88C88A4E2DC4</string>
		</dict>
		<key>F8C71001-8BC4-44E5-8851-022C7B1DCCEA</key>
		<dict>
			<key>auxiliaryLogUniqueIdentifier</key>
			<string>A9C4007B-11FD-45B1-8CE8-F5FA81592694</string>
			<key>auxiliaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>W</string>
			</dict>
			<key>className</key>
			<string>IDESchemeActionsInvocationRecord</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>com.apple.dt.unit.cocoaUnitTest</string>
			<key>fileName</key>
			<string>Test-SPH-2019.09.19_18-09-40-+0800.xcresult</string>
			<key>hasAuxiliaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>E</string>
			</dict>
			<key>schemeIdentifier-containerName</key>
			<string>SPH project</string>
			<key>schemeIdentifier-schemeName</key>
			<string>SPH</string>
			<key>schemeIdentifier-sharedScheme</key>
			<integer>1</integer>
			<key>signature</key>
			<string>Test SPH</string>
			<key>timeStartedRecording</key>
			<real>590580580.71695495</real>
			<key>timeStoppedRecording</key>
			<real>0.0</real>
			<key>title</key>
			<string>Test SPH</string>
			<key>uniqueIdentifier</key>
			<string>F8C71001-8BC4-44E5-8851-022C7B1DCCEA</string>
		</dict>
	</dict>
</dict>
</plist>
