<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-0E01BC41-1A81-4960-9741-B1AE2962BC9B</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.029332995414733887</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.027202010154724121</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.025801897048950195</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.023813009262084961</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageModelTest/testYearSpllitingToComponents()</string>
											<key>TestName</key>
											<string>testYearSpllitingToComponents()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>082E276A-1D33-4999-B6E6-477B3D9030ED</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>MobileDataUsageModelTest</string>
									<key>TestName</key>
									<string>MobileDataUsageModelTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
