<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestSummaryPath</key>
				<string>1_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>1</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>4</integer>
				<key>WarningSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEDAQABABgAMQIYAA
						EQX0XxBIZmlsZTovLy9Vc2Vycy9t
						dWhhbW1hZC5zaGF1a2V0L0Rlc2t0
						b3AvcG9jL1NQSC9TUEgvRXhzdGVu
						c2lvbi9EYXRhLnN3aWZ00h0eHyBa
						JGNsYXNzbmFtZVgkY2xhc3Nlc18Q
						F0RWVFRleHREb2N1bWVudExvY2F0
						aW9uoyEiI18QF0RWVFRleHREb2N1
						bWVudExvY2F0aW9uXxATRFZURG9j
						dW1lbnRMb2NhdGlvblhOU09iamVj
						dF8QD05TS2V5ZWRBcmNoaXZlctEm
						J1Ryb290gAEACAARABoAIwAtADIA
						NwA8AEIAVwBjAHoAjwCjALYAvQDQ
						ANoA7wEDAQUBBwEJAQsBDQEPAREB
						FAFfAWQBbwF4AZIBlgGwAcYBzwHh
						AeQB6QAAAAAAAAIBAAAAAAAAACgA
						AAAAAAAAAAAAAAAAAAHr
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Warning</string>
						<key>Message</key>
						<string>Forced cast from 'URL?' to 'URL' only unwraps optionals; did you mean to use '!'?</string>
						<key>Target</key>
						<string>SPH</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEC0QABABgAMQLoAA
						EQc+XxBIZmlsZTovLy9Vc2Vycy9t
						dWhhbW1hZC5zaGF1a2V0L0Rlc2t0
						b3AvcG9jL1NQSC9TUEgvRXhzdGVu
						c2lvbi9EYXRhLnN3aWZ00h0eHyBa
						JGNsYXNzbmFtZVgkY2xhc3Nlc18Q
						F0RWVFRleHREb2N1bWVudExvY2F0
						aW9uoyEiI18QF0RWVFRleHREb2N1
						bWVudExvY2F0aW9uXxATRFZURG9j
						dW1lbnRMb2NhdGlvblhOU09iamVj
						dF8QD05TS2V5ZWRBcmNoaXZlctEm
						J1Ryb290gAEACAARABoAIwAtADIA
						NwA8AEIAVwBjAHoAjwCjALYAvQDQ
						ANoA7wEDAQUBBwEJAQsBDQEPAREB
						FAFfAWQBbwF4AZIBlgGwAcYBzwHh
						AeQB6QAAAAAAAAIBAAAAAAAAACgA
						AAAAAAAAAAAAAAAAAAHr
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Warning</string>
						<key>Message</key>
						<string>Forced cast from 'URL?' to 'URL' only unwraps optionals; did you mean to use '!'?</string>
						<key>Target</key>
						<string>SPH</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACECcQABABgAMQJYAA
						EQRPXxBPZmlsZTovLy9Vc2Vycy9t
						dWhhbW1hZC5zaGF1a2V0L0Rlc2t0
						b3AvcG9jL1NQSC9TUEhUZXN0cy9E
						YXRhRXh0ZW5zaW9uVGVzdC5zd2lm
						dNIdHh8gWiRjbGFzc25hbWVYJGNs
						YXNzZXNfEBdEVlRUZXh0RG9jdW1l
						bnRMb2NhdGlvbqMhIiNfEBdEVlRU
						ZXh0RG9jdW1lbnRMb2NhdGlvbl8Q
						E0RWVERvY3VtZW50TG9jYXRpb25Y
						TlNPYmplY3RfEA9OU0tleWVkQXJj
						aGl2ZXLRJidUcm9vdIABAAgAEQAa
						ACMALQAyADcAPABCAFcAYwB6AI8A
						owC2AL0A0ADaAO8BAwEFAQcBCQEL
						AQ0BDwERARQBZgFrAXYBfwGZAZ0B
						twHNAdYB6AHrAfAAAAAAAAACAQAA
						AAAAAAAoAAAAAAAAAAAAAAAAAAAB
						8g==
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Warning</string>
						<key>Message</key>
						<string>Forced cast from 'URL?' to 'URL' only unwraps optionals; did you mean to use '!'?</string>
						<key>Target</key>
						<string>SPHTests</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEBwQABABgAMQNoAA
						EQjkXxBRZmlsZTovLy9Vc2Vycy9t
						dWhhbW1hZC5zaGF1a2V0L0Rlc2t0
						b3AvcG9jL1NQSC9TUEhUZXN0cy9O
						ZXR3b3JrTWFuYWdlclRlc3RzLnN3
						aWZ00h0eHyBaJGNsYXNzbmFtZVgk
						Y2xhc3Nlc18QF0RWVFRleHREb2N1
						bWVudExvY2F0aW9uoyEiI18QF0RW
						VFRleHREb2N1bWVudExvY2F0aW9u
						XxATRFZURG9jdW1lbnRMb2NhdGlv
						blhOU09iamVjdF8QD05TS2V5ZWRB
						cmNoaXZlctEmJ1Ryb290gAEACAAR
						ABoAIwAtADIANwA8AEIAVwBjAHoA
						jwCjALYAvQDQANoA7wEDAQUBBwEJ
						AQsBDQEPAREBFAFoAW0BeAGBAZsB
						nwG5Ac8B2AHqAe0B8gAAAAAAAAIB
						AAAAAAAAACgAAAAAAAAAAAAAAAAA
						AAH0
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Warning</string>
						<key>Message</key>
						<string>Forced cast from 'Error?' to 'NSError' only unwraps and bridges; did you mean to use '!' with 'as'?</string>
						<key>Target</key>
						<string>SPHTests</string>
					</dict>
				</array>
			</dict>
			<key>EndedTime</key>
			<date>2019-09-19T10:41:47Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>400</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2600</integer>
					<key>Identifier</key>
					<string>D45014FB-AB49-5C7C-A1DD-07CB9BDB36C6</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>12</integer>
					<key>ModelCode</key>
					<string>MacBookPro15,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-touchid-2018</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.14.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.14.6 (18G95)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>6</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone Xʀ</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>4104D256-BA5A-467D-843C-A441350CFE34</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone11,8</string>
					<key>ModelName</key>
					<string>iPhone Xʀ</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-xr-1</string>
					<key>Name</key>
					<string>iPhone Xʀ</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.2</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.2 (16E226)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.2</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.2</string>
					<key>OperatingSystemVersion</key>
					<string>12.2</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2019-09-19T10:41:38Z</date>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/muhammad.shauket/Desktop/poc/SPH/SPH.xcodeproj</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>SchemeIdentifier</key>
	<dict>
		<key>ContainerName</key>
		<string>SPH project</string>
		<key>EntityName</key>
		<string>SPH</string>
		<key>EntityType</key>
		<string>scheme</string>
		<key>SharedState</key>
		<string>shared</string>
	</dict>
	<key>TestSummaryPath</key>
	<string>/Users/muhammad.shauket/Library/Developer/Xcode/DerivedData/SPH-biqhplhwytkhacczyvuxojvkfgow/Logs/Test/Test-SPH-2019.09.19_18-41-38-+0800.xcresult/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>1</integer>
	<key>TestsFailedCount</key>
	<integer>0</integer>
	<key>WarningCount</key>
	<integer>4</integer>
	<key>WarningSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEDAQABABgAMQIYAA
			EQX0XxBIZmlsZTovLy9Vc2Vycy9tdWhhbW1hZC5zaGF1a2V0L0Rl
			c2t0b3AvcG9jL1NQSC9TUEgvRXhzdGVuc2lvbi9EYXRhLnN3aWZ0
			0h0eHyBaJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RWVFRleHREb2N1
			bWVudExvY2F0aW9uoyEiI18QF0RWVFRleHREb2N1bWVudExvY2F0
			aW9uXxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEmJ1Ryb290gAEACAARABoAIwAtADIANwA8
			AEIAVwBjAHoAjwCjALYAvQDQANoA7wEDAQUBBwEJAQsBDQEPAREB
			FAFfAWQBbwF4AZIBlgGwAcYBzwHhAeQB6QAAAAAAAAIBAAAAAAAA
			ACgAAAAAAAAAAAAAAAAAAAHr
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Warning</string>
			<key>Message</key>
			<string>Forced cast from 'URL?' to 'URL' only unwraps optionals; did you mean to use '!'?</string>
			<key>Target</key>
			<string>SPH</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEC0QABABgAMQLoAA
			EQc+XxBIZmlsZTovLy9Vc2Vycy9tdWhhbW1hZC5zaGF1a2V0L0Rl
			c2t0b3AvcG9jL1NQSC9TUEgvRXhzdGVuc2lvbi9EYXRhLnN3aWZ0
			0h0eHyBaJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RWVFRleHREb2N1
			bWVudExvY2F0aW9uoyEiI18QF0RWVFRleHREb2N1bWVudExvY2F0
			aW9uXxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEmJ1Ryb290gAEACAARABoAIwAtADIANwA8
			AEIAVwBjAHoAjwCjALYAvQDQANoA7wEDAQUBBwEJAQsBDQEPAREB
			FAFfAWQBbwF4AZIBlgGwAcYBzwHhAeQB6QAAAAAAAAIBAAAAAAAA
			ACgAAAAAAAAAAAAAAAAAAAHr
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Warning</string>
			<key>Message</key>
			<string>Forced cast from 'URL?' to 'URL' only unwraps optionals; did you mean to use '!'?</string>
			<key>Target</key>
			<string>SPH</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACECcQABABgAMQJYAA
			EQRPXxBPZmlsZTovLy9Vc2Vycy9tdWhhbW1hZC5zaGF1a2V0L0Rl
			c2t0b3AvcG9jL1NQSC9TUEhUZXN0cy9EYXRhRXh0ZW5zaW9uVGVz
			dC5zd2lmdNIdHh8gWiRjbGFzc25hbWVYJGNsYXNzZXNfEBdEVlRU
			ZXh0RG9jdW1lbnRMb2NhdGlvbqMhIiNfEBdEVlRUZXh0RG9jdW1l
			bnRMb2NhdGlvbl8QE0RWVERvY3VtZW50TG9jYXRpb25YTlNPYmpl
			Y3RfEA9OU0tleWVkQXJjaGl2ZXLRJidUcm9vdIABAAgAEQAaACMA
			LQAyADcAPABCAFcAYwB6AI8AowC2AL0A0ADaAO8BAwEFAQcBCQEL
			AQ0BDwERARQBZgFrAXYBfwGZAZ0BtwHNAdYB6AHrAfAAAAAAAAAC
			AQAAAAAAAAAoAAAAAAAAAAAAAAAAAAAB8g==
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Warning</string>
			<key>Message</key>
			<string>Forced cast from 'URL?' to 'URL' only unwraps optionals; did you mean to use '!'?</string>
			<key>Target</key>
			<string>SPHTests</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEBwQABABgAMQNoAA
			EQjkXxBRZmlsZTovLy9Vc2Vycy9tdWhhbW1hZC5zaGF1a2V0L0Rl
			c2t0b3AvcG9jL1NQSC9TUEhUZXN0cy9OZXR3b3JrTWFuYWdlclRl
			c3RzLnN3aWZ00h0eHyBaJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RW
			VFRleHREb2N1bWVudExvY2F0aW9uoyEiI18QF0RWVFRleHREb2N1
			bWVudExvY2F0aW9uXxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09i
			amVjdF8QD05TS2V5ZWRBcmNoaXZlctEmJ1Ryb290gAEACAARABoA
			IwAtADIANwA8AEIAVwBjAHoAjwCjALYAvQDQANoA7wEDAQUBBwEJ
			AQsBDQEPAREBFAFoAW0BeAGBAZsBnwG5Ac8B2AHqAe0B8gAAAAAA
			AAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAH0
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Warning</string>
			<key>Message</key>
			<string>Forced cast from 'Error?' to 'NSError' only unwraps and bridges; did you mean to use '!' with 'as'?</string>
			<key>Target</key>
			<string>SPHTests</string>
		</dict>
	</array>
</dict>
</plist>
