<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-04D8CAD5-76D7-4FD9-B86A-A0BFF776132B</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.022971034049987793</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.02170407772064209</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.020933032035827637</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.020180106163024902</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testFlushFile()</string>
											<key>TestName</key>
											<string>testFlushFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>93FCB3FC-1E73-4035-8A69-7F7EADF8A92F</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>DataExtensionTest</string>
									<key>TestName</key>
									<string>DataExtensionTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
