<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-EE908DE1-8035-4DAF-BE2F-8D3AB8973A0A</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.021906018257141113</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.020645976066589355</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.019796013832092285</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.018893003463745117</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testFlushFile()</string>
											<key>TestName</key>
											<string>testFlushFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>44F17321-1B6C-4D72-92C8-201AB3E1BD5A</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>DataExtensionTest</string>
									<key>TestName</key>
									<string>DataExtensionTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
