<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-C5BFE87F-B7C3-485A-B8AF-4C24CF2963F7</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.030411005020141602</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.02894294261932373</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.027992010116577148</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.027230978012084961</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testWriteDataInFile()</string>
											<key>TestName</key>
											<string>testWriteDataInFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5D8A1A70-1DB7-40EC-86C1-7677723AC208</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>DataExtensionTest</string>
									<key>TestName</key>
									<string>DataExtensionTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
