<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>400</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2600</integer>
			<key>Identifier</key>
			<string>D45014FB-AB49-5C7C-A1DD-07CB9BDB36C6</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>12</integer>
			<key>ModelCode</key>
			<string>MacBookPro15,1</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-touchid-2018</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.14.6</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.14.6 (18G95)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>6</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone Xʀ</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>4104D256-BA5A-467D-843C-A441350CFE34</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone11,8</string>
			<key>ModelName</key>
			<string>iPhone Xʀ</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-xr-1</string>
			<key>Name</key>
			<string>iPhone Xʀ</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>12.2</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>12.2 (16E226)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator12.2</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 12.2</string>
			<key>OperatingSystemVersion</key>
			<string>12.2</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-1C514714-190B-4B2C-B550-7C31C76516FE</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.39839804172515869</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.39723896980285645</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.011466026306152344</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0040910243988037109</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testFlushFile()</string>
											<key>TestName</key>
											<string>testFlushFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>0AF25619-3116-4747-9876-8A143ADA355C</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0036649703979492188</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testReadingDataFromFile()</string>
											<key>TestName</key>
											<string>testReadingDataFromFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>033E1BB3-8A61-4085-A4F4-E2FE64C79F04</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0021849870681762695</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testWriteDataInFile()</string>
											<key>TestName</key>
											<string>testWriteDataInFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>6ADDAC2C-98C7-47A8-88C3-37093E1CF12F</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>DataExtensionTest</string>
									<key>TestName</key>
									<string>DataExtensionTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.016565084457397461</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.013810038566589355</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageModelTest/testDataIsPopuplatingInModel()</string>
											<key>TestName</key>
											<string>testDataIsPopuplatingInModel()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8AA049E6-D94A-4B34-AA52-49EEFA2E74F4</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0010470151901245117</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageModelTest/testYearSpllitingToComponents()</string>
											<key>TestName</key>
											<string>testYearSpllitingToComponents()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>CF73DE19-986A-4EDA-876D-1C7CD13657DA</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>MobileDataUsageModelTest</string>
									<key>TestName</key>
									<string>MobileDataUsageModelTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.01739799976348877</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0018459558486938477</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testDataParsing()</string>
											<key>TestName</key>
											<string>testDataParsing()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A0BCC12D-7532-4E95-9150-C9BDFFFD56B4</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00098299980163574219</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testHeaderTitles()</string>
											<key>TestName</key>
											<string>testHeaderTitles()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F6CCD540-433A-42A3-B502-229728D5DBE7</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0043680667877197266</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testInitailCanSendRequest()</string>
											<key>TestName</key>
											<string>testInitailCanSendRequest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>1B0F2B26-5919-4B43-A147-399B23E52C9D</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00071609020233154297</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testMobileDataArrayAfterParsing()</string>
											<key>TestName</key>
											<string>testMobileDataArrayAfterParsing()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>4D5A5D6D-CCFA-4B72-BE32-399C2D4E1383</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00076401233673095703</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testMobileDataArrayContainCorrectRecord()</string>
											<key>TestName</key>
											<string>testMobileDataArrayContainCorrectRecord()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C5BDCAC4-6AC9-400F-B331-EC87B4520DD5</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00041604042053222656</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testMobileRecordDat2DArrayInitallyEmpty()</string>
											<key>TestName</key>
											<string>testMobileRecordDat2DArrayInitallyEmpty()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>89636D2E-5A1A-4CD7-A574-268D4F7CA5E2</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00067400932312011719</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testRowsCountForList()</string>
											<key>TestName</key>
											<string>testRowsCountForList()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F1A7145C-E030-44C0-8A7C-A67FF88F81A1</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0016930103302001953</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testSectionCountForList()</string>
											<key>TestName</key>
											<string>testSectionCountForList()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>40F6A373-D97F-4D3F-9755-84296B60139A</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00095593929290771484</real>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testSucessfullInitOfViewModel()</string>
											<key>TestName</key>
											<string>testSucessfullInitOfViewModel()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>22389197-DC87-4D8F-AD93-3245741DA0ED</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>MobileDataUsageViewModelTests</string>
									<key>TestName</key>
									<string>MobileDataUsageViewModelTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.010903000831604004</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0075819492340087891</real>
											<key>TestIdentifier</key>
											<string>NetworkManagerTests/testInternalServerError()</string>
											<key>TestName</key>
											<string>testInternalServerError()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>CD0B153D-536A-4FF6-88B4-28D580F93058</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0022319555282592773</real>
											<key>TestIdentifier</key>
											<string>NetworkManagerTests/testSuccessfulResponse()</string>
											<key>TestName</key>
											<string>testSuccessfulResponse()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>FCB48E35-C325-4D48-B4D7-C80D4894EE37</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>NetworkManagerTests</string>
									<key>TestName</key>
									<string>NetworkManagerTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.33769798278808594</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0058699846267700195</real>
											<key>TestIdentifier</key>
											<string>SPHTests/testBuildRequest()</string>
											<key>TestName</key>
											<string>testBuildRequest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D8057673-959B-4974-BF76-8D18F8E41618</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00050401687622070312</real>
											<key>TestIdentifier</key>
											<string>SPHTests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>63490EA8-8FCB-4B88-883B-D8D01AD035FE</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.32985305786132812</real>
											<key>PerformanceMetrics</key>
											<array>
												<dict>
													<key>Identifier</key>
													<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
													<key>MaxPercentRegression</key>
													<integer>10</integer>
													<key>MaxPercentRelativeStandardDeviation</key>
													<integer>10</integer>
													<key>MaxRegression</key>
													<real>0.10000000000000001</real>
													<key>MaxStandardDeviation</key>
													<real>0.10000000000000001</real>
													<key>Measurements</key>
													<array>
														<real>4.0060000000000003e-06</real>
														<real>8.8000000000000004e-07</real>
														<real>6.3900000000000004e-07</real>
														<real>6.0399999999999996e-07</real>
														<real>6.2500000000000005e-07</real>
														<real>5.3499999999999996e-07</real>
														<real>5.7199999999999999e-07</real>
														<real>5.8100000000000003e-07</real>
														<real>5.2799999999999996e-07</real>
														<real>8.4099999999999997e-07</real>
													</array>
													<key>Name</key>
													<string>Time</string>
													<key>UnitOfMeasurement</key>
													<string>seconds</string>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>SPHTests/testPerformanceExample()</string>
											<key>TestName</key>
											<string>testPerformanceExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8EB4229A-4BE8-45CC-8F24-A0FC850875E0</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SPHTests</string>
									<key>TestName</key>
									<string>SPHTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHUITests-3FEECA4C-A129-4298-8A81-6831B5ECE303</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHUITests</string>
			<key>TestKind</key>
			<string>UI</string>
			<key>TestName</key>
			<string>SPHUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>5.3811339139938354</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>5.3797370195388794</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>5.3785349130630493</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>590584014.095101</real>
													<key>StartTimeInterval</key>
													<real>590584013.92975402</real>
													<key>Title</key>
													<string>Start Test at 2019-09-19 19:06:53.930</string>
													<key>UUID</key>
													<string>58D87DC3-CAF1-4687-A850-242728D1874C</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>590584013.92975402</real>
													<key>StartTimeInterval</key>
													<real>590584013.92975402</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>B638B01F-E881-45B1-81C4-1E1754F6C862</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>590584019.09983301</real>
													<key>StartTimeInterval</key>
													<real>590584014.09589005</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>590584019.09888601</real>
															<key>StartTimeInterval</key>
															<real>590584014.09989905</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>590584019.09766197</real>
																	<key>StartTimeInterval</key>
																	<real>590584014.12651598</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>590584016.76286697</real>
																			<key>StartTimeInterval</key>
																			<real>590584016.65932405</real>
																			<key>Title</key>
																			<string>Wait for accessibility to load</string>
																			<key>UUID</key>
																			<string>AC0F6243-27C1-4E20-A471-015387203156</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>590584018.09455597</real>
																			<key>StartTimeInterval</key>
																			<real>590584017.56547201</real>
																			<key>Title</key>
																			<string>Wait for com.appshep.SPH to idle</string>
																			<key>UUID</key>
																			<string>12079964-1ACA-420A-AB4C-9E568814A7C1</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.appshep.SPH</string>
																	<key>UUID</key>
																	<string>3574F2F4-7E49-42FA-95DD-25A5D993803B</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.appshep.SPH</string>
															<key>UUID</key>
															<string>E7D66C8C-A91F-4A8F-A0D6-DAB33825CC18</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>27E5A430-10E5-4DCD-8CB9-C91058D419D8</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>590584019.10068703</real>
													<key>StartTimeInterval</key>
													<real>590584019.10035002</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>FA947D14-0B67-448C-9DA1-BB0218D8876C</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>5.3773810863494873</real>
											<key>TestIdentifier</key>
											<string>SPHUITests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>839C37A4-18AA-44AA-9B19-D735390344CF</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SPHUITests</string>
									<key>TestName</key>
									<string>SPHUITests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHUITests.xctest</string>
							<key>TestName</key>
							<string>SPHUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
