<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-131881EE-B343-4FDD-BFDD-53681A052D44</string>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.023064970970153809</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.021677970886230469</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.020781040191650391</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.019937038421630859</real>
											<key>TestIdentifier</key>
											<string>DataExtensionTest/testFlushFile()</string>
											<key>TestName</key>
											<string>testFlushFile()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>99DE21BE-5254-41E0-A7A5-AFDD37741E9F</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>DataExtensionTest</string>
									<key>TestName</key>
									<string>DataExtensionTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
