<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>400</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2600</integer>
			<key>Identifier</key>
			<string>D45014FB-AB49-5C7C-A1DD-07CB9BDB36C6</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>12</integer>
			<key>ModelCode</key>
			<string>MacBookPro15,1</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-touchid-2018</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.14.6</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.14.6 (18G95)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>6</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone Xʀ</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>4104D256-BA5A-467D-843C-A441350CFE34</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone11,8</string>
			<key>ModelName</key>
			<string>iPhone Xʀ</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-xr-1</string>
			<key>Name</key>
			<string>iPhone Xʀ</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>12.2</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>12.2 (16E226)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator12.2</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 12.2</string>
			<key>OperatingSystemVersion</key>
			<string>12.2</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-A863CD80-EDCD-404D-AB8E-6E972C66EA10</string>
			<key>FailureSummaries</key>
			<array>
				<dict>
					<key>LineNumber</key>
					<integer>0</integer>
					<key>Message</key>
					<string>Test operation was canceled.</string>
					<key>PerformanceFailure</key>
					<false/>
				</dict>
			</array>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.0</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.0</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.0</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>LineNumber</key>
													<integer>0</integer>
													<key>Message</key>
													<string>Test operation was canceled</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testHeaderTitles()</string>
											<key>TestName</key>
											<string>testHeaderTitles()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>21E2A860-563A-44B6-AF7D-B36E77C95FD2</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>MobileDataUsageViewModelTests</string>
									<key>TestName</key>
									<string>MobileDataUsageViewModelTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
