<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>SPHTests-CB3160F3-2A0A-4175-B157-993F56044034</string>
			<key>FailureSummaries</key>
			<array>
				<dict>
					<key>LineNumber</key>
					<integer>0</integer>
					<key>Message</key>
					<string>Test operation was canceled.</string>
					<key>PerformanceFailure</key>
					<false/>
				</dict>
			</array>
			<key>ProjectPath</key>
			<string>SPH.xcodeproj</string>
			<key>TargetName</key>
			<string>SPHTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>SPHTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.0</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.0</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.0</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>LineNumber</key>
													<integer>0</integer>
													<key>Message</key>
													<string>Test operation was canceled</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>MobileDataUsageViewModelTests/testHeaderTitles()</string>
											<key>TestName</key>
											<string>testHeaderTitles()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>B9055965-E9EF-4C7E-8194-326E5C56120F</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>MobileDataUsageViewModelTests</string>
									<key>TestName</key>
									<string>MobileDataUsageViewModelTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>SPHTests.xctest</string>
							<key>TestName</key>
							<string>SPHTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
